@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Since we don't have a company yet, here's Microsoft's contact info.";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@doorpanes.com">support@doorpanes.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@doorpanes.com">marketing@doorpanes.com</a>
</address>